In [2]:
#引入约定
import pandas as pd

In [3]:
from pandas import Series, DataFrame

Series 可以被视为一个带标签的一维数组。它结合了 NumPy 数组的高效性（快速的矢量化操作）和 Python 字典的灵活索引

In [3]:
obj = pd.Series([4,7,-5,3])

In [4]:
obj #表现形式是索引在左边，值在右边

0    4
1    7
2   -5
3    3
dtype: int64

In [6]:
obj.values

array([ 4,  7, -5,  3])

In [7]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [12]:
#可以自己定义索引
obj2 = pd.Series([4,7,-5,3], index=['d','b','a','c'])

In [13]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [14]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [15]:
obj2['a']

np.int64(-5)

In [16]:
#可以通过字典来创建Series:
sdata = {'Ohio':35000,'Texas':71000,'Oregon':16000,'Utah':5000}

In [17]:
obj3 = pd.Series(sdata)

In [18]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [19]:
#可以利用自己创建的序列来检测缺少数据
states = ['California','Ohio','Oregon','Texas']

In [20]:
obj4 = pd.Series(sdata,index=states)

In [21]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [23]:
#检测缺失数据
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [ ]:
#Series对象本身以及索引带有一个name属性

In [24]:
obj4.name = 'population'

In [25]:
obj4.index.name = 'state'

In [26]:
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

索引可以通过赋值修改

DataFreame是一个表格型的数据结构，Pandas 中的 DataFrame 是最重要、最核心的数据结构，可以将其视为一个带标签的二维表格。

简单来说，DataFrame 就是一张功能强大的电子表格或数据库中的表。

In [4]:
#建DataFrame的办法有很多，最常用的是一种直接传入一个由等长列表或者Numpy数组组成的字典
data = {'state':['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'],'year':[2000,2001,2002,2001,2002,2003],'pop':[1.5,1.7,3.6,2.4,2.9,3.2]}
frame = pd.DataFrame(data)

In [5]:
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [ ]:
#对于特别大的DataFrame,head方法会选取前五行：frame.head()

In [8]:
#可以指定列的排列顺序
pd.DataFrame(data,columns=['year','state','pop'])

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2

In [9]:
frame2 = pd.DataFrame(data,columns=['year','state','pop','debt'],index=['one','two','three','four','five','six'])

In [10]:
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

In [11]:
#可以将DataFrame的列获取为一个Series:
frame2['state']

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object

In [12]:
frame2.year

one      2000
two      2001
three    2002
four     2001
five     2002
six      2003
Name: year, dtype: int64

In [13]:
#列可以通过赋值修改
frame2['debt'] = 16.5

In [14]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5  16.5
two    2001    Ohio  1.7  16.5
three  2002    Ohio  3.6  16.5
four   2001  Nevada  2.4  16.5
five   2002  Nevada  2.9  16.5
six    2003  Nevada  3.2  16.5

In [ ]:
val = pd.Series([-1.2,-1.5,-1.7])